<!DOCTYPE html>
<html>
  <head>
    <title>Multiplayer Hangman</title>

    <!-- Using local CSS files in dev so that we can dev without internet connection -->
    {% if debug %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% else %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endif %}
    <link href="{{ url_for('static', filename='css/hangman.css') }}" rel="stylesheet" type="text/css" media="screen">
  </head>

  <body>
    <!-- This is where the hangman sketch is drawn -->
    <div id="sketch-holder"/>

    <div id="buttons-wrapper">
      <button type="button" id="become-chooser" class="btn btn-outline-light">Enter as Chooser</button>
      <button type="button" id="become-guesser" class="btn btn-outline-light">Enter as Guesser</button>
      <button type="button" id="reset" class="btn btn-outline-warning">Reset</button>
    </div>

    <button type="button" id="submit" class="btn btn-outline-light">Submit</button>

    <script type="text/javascript" data-main="static/js/app" src="static/js/lib/require.js"></script>
  </body>
</html>
