<!DOCTYPE html>
<html>
  <head>
    <title>Multiplayer Hangman</title>

    <!-- Using local CSS files so that we can dev without internet connection -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ url_for('static', filename='css/hangman.css') }}" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body>
      <!-- Using local JS files so that we can dev without internet connection -->
    <script type="text/javascript" src="static/js/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
    <script type="text/javascript" src="static/js/hangman.js"></script>
  </body>
</html>