<!DOCTYPE html>
<html>
  <head>
    <title>Multiplayer Hangman</title>

    <!-- Using local CSS files in dev so that we can dev without internet connection -->
    {% if debug %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% else %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% endif %}
    <link href="{{ url_for('static', filename='css/hangman.css') }}" rel="stylesheet" type="text/css" media="screen">
  </head>

  <body>
    <!-- This is where the hangman sketch is drawn -->
    <div id="sketch-holder"/>

<div id="buttons-wrapper">
<button type="button" id="become-chooser" class="btn btn-outline-light">Become Chooser</button>
<button type="button" id="become-guesser" class="btn btn-outline-light">Become Guesser</button>
<button type="button" id="reset" class="btn btn-outline-warning">Reset</button>
</div>

    <!-- Using local JS files in dev so that we can dev without internet connection -->
    {% if debug %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/p5.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    {% else %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    {% endif %}

    <script type="text/javascript" src="static/js/hangman.js"></script>
  </body>
</html>
